.App {
  background-color: #282c34;
  min-width: 370px;
  min-height: 650px;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  margin: 20vh 30vw;
  opacity: 0.2;
}

@media (max-width: 430px) {
  .App-logo {
    height: 50vh;
    margin: 5vh 0;
    opacity: 0.5;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34;
  height: 100vh;
  width: 100vw; */
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}